{% extends "base.html" %}
{% load staticfiles %}
{% load mathfilters %}
{% load commontags %}
{% block progress-bar %}{% endblock progress-bar %}
{% block container %}
            <div class="row-fluid">
                <div class="span4">
                    <table class="table table-striped">
                        <caption><h3>NAJBARDZIEJ WYKRWAWIENI</h3></caption>
                        <tr>
                            <th> # </th>
                            <th>Nick</th>
                            <th style="text-align: right;">Razem oddane</th>
                        </tr>
                        {% for li in rank|slice:":5" %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="/ludzie/{{ li.donor }}/">{{ li.donor }}</a></td>
                                <td style="text-align: right;">{{ li.total }} ml</td>
                            </tr>
                        {% endfor %}

                    </table>
                    <a href="/ranking/{{ edycja.number }}/" class="btn btn-danger pull-right">Pokaż pełen ranking</a>
                </div>
                <div class="span4">
                    <table class="table table-striped">
                        <caption><h3>OSTATNIO DOŁĄCZYLI</h3></caption>
                        <tr>
                            <th> # </th>
                            <th>Nick</th>
                            <th style="text-align: right;">Pierwszy wpis</th>
                        </tr>
                            {% for li in new_users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="/ludzie/{{ li.donor }}/">{{ li.donor }}</a></td>
                                <td style="text-align: right;">{{ li.join_date|date:'Y-m-d' }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
                <div class="span4">
                    <table class="table table-striped">
                        <caption><h3>OSTATNIE WPISY</h3></caption>
                        <tr>
                            <th> # </th>
                            <th>Nick</th>
                            <th>Wielkość donacji</th>
                        </tr>
                        {% for li in last %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="/ludzie/{{ li.author.name }}/">{{ li.author.name }}</a></td>
                                <td style="text-align: center;"><a href="http://wykop.pl/wpis/{{ li.micro_id }}/"> {{ li.total }} ml</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="info">
                    <div class="span6">
                        <div class="well">
                            <p>
                                <strong>Baryłka Krwi</strong> to <a href="http://www.wykop.pl/mikroblog/">mikroblogowa</a> akcja
                                <a href="http://www.wykop.pl/link/1591409/barylka-krwi-czyli-nowa-mikroblogowa-akcja-oddawania-krwi-przez-wykopowiczow/">
                                zaproponowana i prowadzona wśród użytkowników portalu wykop.pl</a>, mająca na celu promowanie krwiodawstwa
                                wśród użytkowników tego portalu.
                            </p>
                            <p>
                                Celem akcji jest zebranie wspólnymi siłami tytułowej baryłki krwi w jak najszybszym czasie.
                                Użytkownicy akcji publikując na mikroblogu stosowne wpisy z tagiem
                                <a href="http://www.wykop.pl/tag/barylkakrwi/wszystkie/">#barylkakrwi</a>, odejmują
                                oddaną przez siebie ilość krwi od wspólnego licznika, przy okazji dokumentując swoje dokonania zdjęciami.
                            </p>

                            <p>
                                <h5>Parametry {{ edycja.number }}. edycji:</h5>
                                Ilość krwi do zebrania: {{ edycja.capacity|div:1000 }} litrów<br>
                                Data rozpoczęcia akcji: {{ edycja.start_date }}<br>
                                {% if edycja.end_date %}Data zakończenia akcji: {{ edycja.end_date }}<br>
                                    {% if edycja.number == 1 %}Podsumowanie: <a href="http://plamka.net/barylkakrwi/">Infografika</a> (przygotowana przez <a href="http://www.wykop.pl/ludzie/Dreszczyk/">@Dreszczyk</a>'a){% endif %}
                                {% endif %}
                            </p>

                            <p>
                                Pomysłodawcy: <a href="http://www.wykop.pl/ludzie/PanKawa/">@PanKawa</a>, <a href="http://www.wykop.pl/ludzie/kravjec/">@kravjec</a>, <a href="http://www.wykop.pl/ludzie/viejra/">@viejra</a><br>
                                Opiekunem akcji, twórcą strony i bota zliczającego wpisy jest Krzysztof Szumny - <a href="http://www.wykop.pl/ludzie/noisy/">@noisy</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="barrel">
                   <div class="span6">
                        {% if edycja.number == 1 %}
                        <div class="edition">
                            <img src="{% static "img/barrel_1edition_full.png" %}">
                        </div>
                        {% elif edycja.number == 2 %}
                        <div class="edition">
                            <div class="edition-two">
                                <div class="barel_prc" style="font-family: LCChalk; color: #ffffff;position: absolute;padding: 142px 75px 0 75px; text-align: center;width: 120px;">
                                    <div style="font-size: 24px;margin: 10px 0;z-index: 20;position: relative;">{{ procent_zapelnienia}}%</div>
                                    <div style="font-size: 14px;margin: 10px 0;z-index: 20;position: relative;">{{ total }} ml</div>
                                </div>

                                <div style="position: absolute;top: 35px;left: 212px;">
                                    <img src="{% static "img/glass.png" %}" style="position:absolute;z-index: -20;">
                                    {% with procent_zapelnienia|mul:291|div:100|toInt as prc %}
                                    <img src="{% static "img/blood_level.png" %}" style="position:absolute;top:{{ 291|sub:prc }}px;height:{{ prc }}px;width: 100%;z-index: -10;">
                                    {% endwith %}
                                </div>
                                <a href="/edycja/1/"><img src="{% static "img/barrel_1edition.png" %}" style="position: absolute;top: 142px;left: -220px;"></a>
                                <img src="{% static "img/barrel_2edition.png" %}" style="position: absolute;">
                            </div>
                            <img src="{% static "img/drop2.gif" %}" style="position: absolute;margin-left: 243px;margin-top: -55px;">
                        </div>
                        {% endif %}
                   </div>
                </div>
            </div>
{% endblock container %}