{% extends "base.html" %}
{% load staticfiles %}
{% load commontags %}
{% block progress-bar %}{% endblock progress-bar %}

{% block container %}
Założenia i regulamin drugiej edycji mikroblogowej akcji Baryłka Krwi. #barylkakrwi
Oficjalna strona akcji z aktualnymi wynikami - BaryłkaKrwi.pl
<ol>
	<li>Celem naszej akcji jest zachęcenie użytkowników Wykopu do oddawania krwi.</li>
	<li>Zamierzamy "wypełnić" krwią 2 Baryłki o łącznej pojemności 328 litrów, czyli oddamy 328 000 mililitrów krwi.</li>
	<li>Do inicjatywy może dołączyć dowolny użytkownik, który w terminie począwszy od 17 lutego 2014 oddał krew/osocze/płytki krwi.</li>
	<li>Na początku wpisu na mikroblogu należy odjąć swoją donację od wyniku zamieszczonego przez poprzedniego użytkownika.</li>
	<li>Do przeliczania swojej donacji na mililitry korzystamy z tej stronki: link</li>
	<li>Po wyniku zachęcamy do opisania swojej wizyty:
		<ul>
			<li>kiedy oddawałeś/aś krew</li>
			<li>gdzie oddawałeś/aś krew</li>
			<li>czy przed oddaniem dostałeś/aś jakiś posiłek? jeśli tak, to jaki?</li>
			<li>jakie rekompensaty kaloryczne oferuje dana stacja krwiodawstwa?</li>
			<li>czy otrzymujesz jakieś dodatkowe rzeczy, typu koszulki/długopisy/cokolwiek?</li>
			<li>czy za określoną ilość oddanej krwi uzyskujesz jakieś profity? (darmowa komunikacja miejska itp)</li>
			<li>fotki otrzymanych czekolad i innych rzeczy są bardzo mile widziane</li>
		</ul>
	</li>
	<li>Jako dowód potwierdzający oddanie krwi prosimy o fotografię legitymacji z pieczątką</li>
	<li><b>Obowiązkowo tag #barylkakrwi</b></li>
</ol>

Administratorami oraz opiekunami drugiej edycji Baryłki Krwi są:
<a href="http://wykop.pl/ludzie/alealeksandra">@alealeksandra</a><br />
<a href="http://wykop.pl/ludzie/noisy">@noisy</a><br />
<a href="http://wykop.pl/ludzie/kiler129">@kiler129</a><br />
<a href="http://wykop.pl/ludzie/viejra">@viejra</a><br />

Za pomysł oraz pomoc dziękuję następującym użytkownikom:
<a href="http://wykop.pl/ludzie/viejra">@viejra</a> Pomysłodawca akcji w komentarzu
<a href="http://wykop.pl/ludzie/manimalia">@manimalia</a><br />
<a href="http://wykop.pl/ludzie/noisy">@noisy</a><br />
<a href="http://wykop.pl/ludzie/kravjec">@kravjec</a><br />
<a href="http://wykop.pl/ludzie/besiaczek">@besiaczek</a><br />
<a href="http://wykop.pl/ludzie/Sauweren">@Sauweren</a><br />
<a href="http://wykop.pl/ludzie/void1984">@void1984</a><br />
<a href="http://wykop.pl/ludzie/xpt">@xpt</a><br />
<a href="http://wykop.pl/ludzie/alenacomnielogin_">@alenacomnielogin_</a><br />
<a href="http://wykop.pl/ludzie/Paulie90">@Paulie90</a><br />
<a href="http://wykop.pl/ludzie/Czerw2">@Czerw2</a><br />
© <a href="http://wykop.pl/ludzie/viejra">@viejra</a> <a href="http://wykop.pl/ludzie/PanKawa">@PanKawa</a><br />
{% endblock container %}

